.recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  width: 80%;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.nutrition-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: black;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  text-align: center;
  margin-bottom: 2rem;
  border: 2px solid black;
}
.title-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 1rem;
}
.img-container {
  width: 45%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-img {
  width: 20vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 5px;
}
.summary {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
h6,
h4,
h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: black !important;
}
.last {
  margin-bottom: 0;
}
.recipe-ingredients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  text-align: center;
  margin-bottom: 2rem;
  border: 2px solid black;
}
.ingredients {
  width: 40%;
}
.instructions {
  width: 59%;
}
.list {
  margin: 0;
  padding-left: 30px;
  padding-bottom: 2rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: large;
  font-weight: 500;
  line-height: 30px;
}
.solid {
  background-color: black;
  border-color: black;
  width: 100%;
  height: 1px;
}

@media screen and (max-width: 768px) {
  .recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 98%;
  }
  .nutrition-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 98%;
  }
  .recipe-info {
    width: 98%;
  }
  .title-container {
    width: 98%;
  }
  .title-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .recipe-ingredients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .ingredients,
  .instructions {
    width: 98%;
    margin: auto;
  }
  .recipe-img {
    width: 15rem;
    height: 20rem;
  }
}

.light {
  width: 100%;
  height: 0.5px;
  border-color: black;

}

.nutrients {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: small;
  line-height: 2px;
}

.nutrient {
  width: 90%;
  /* margin: 1rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.caloric {
  width: 94%;
  font-weight: 600;
  text-align: left;
}

.caloricinfo {
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caloricinfo p {
  width: 65%;
  line-height: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
}

.serving {
  width: 94%;
  font-weight: 800;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
