.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form__title {
    font-size: 10vw;
    margin: 50px auto 0px;
    font-weight: 700;
}

.search-form__subtitle {
    margin: 0px;
    line-height: 20px;
    font-weight: 400;
    font-size: 3vw;
}


.search-form__container {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .search-form__container{
        height: 10vw;
    }
}
.search-form__input {
    width: 60vw;
    max-height: 65px;
    border-radius: 10px;
    font-size: 25px;
    border-color: black;
    padding-left: 15px;
    padding-right: 50px;
}

.search-form__submit {
    font-size: 4vw;
    padding: 0px;
    margin-left: -50px;
    margin-top: 1px;
    border: none;
    background-color: transparent;
} 

.search-form__filter {
    margin-left: 3vw;
    padding: 0px;
    cursor: pointer;
    max-width: 65px;
    max-height: 65px;
}

.search-form__filter img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}