.recipe-card-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0vw 10vw 1vw;
}

@media screen and (max-width: 540px){
    .recipe-card-container {
        padding: 10px;
    }
  } 

.textBox {
    display: flex;
    width: 100%;
    justify-content: center;
}
.total-result{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}
    

.total-number{
    color: #743737;
}