.recipe-card-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10vw;
    padding-top: 0;
}

@media screen and (max-width: 540px){
    .recipe-card-container {
        padding: 10px;
    }
  } 

.total-result{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10vw;
}

.total-number{
    color: #743737;
}