.myBtn {
    height: 3rem;
    font-size: 20px;
    border-radius: 1rem;
    padding: 10px;
    border: 3px solid #22BFC9;
    background-color: aliceblue;
    box-shadow: 0 5px #666;
    margin: 0.5rem;
}
.myBtn:hover {background-color: rgb(223, 232, 239)}

.myBtn:active {
  background-color: rgb(223, 232, 239);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
