.RecipeCards {
  margin: 0vw 10vw;
}

.textContainer {
  min-height: 75px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splide {
  z-index: 0;
}

.Card {
  background-color: #AB4545;
  border-radius: 1rem;
  max-width: 16rem;
  height: 20rem;
  margin: 0.5rem;
  align-items:center;
  overflow: clip;
}


.linkTag {
  text-decoration: none;
}

.Card img {
  max-width: 100%;
  object-fit: cover;
  
}

.Card h1 {
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.Card:hover {
  background-color: #8e3939;
  transform: translateY(-1px);
}

.h1Location{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0vw 10vw;
  text-align: center;
  
}

.textBox {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
 

  .Card h1 {
    font-size: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
   
  }
  .Card {
    max-width: 11rem;
    height: 15rem;
  }
}