.RecipeCards {
  margin: 0vw 10vw;
}

.textContainer {
  min-height: 75px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splide {
  z-index: 0;
}

.Card {
  background-color: #AB4545;
  border-radius: 1rem;
  max-width: 16rem;
  height: 20rem;
  margin: 0.5rem;
  align-items:center;
  overflow: clip;
}


.linkTag {
  text-decoration: none;
}

.Card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  
}

.Card h1 {
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.Card:hover {
  background-color: #8e3939;
  transform: translateY(-1px);
}

.h1Location{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0vw 10vw;
  text-align: center;
  
}

.textBox {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
}

.hrLine{
  width: 80%;
}

@media screen and (max-width: 800px) {
 

  .Card h1 {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 10%;
   
  }
  .Card {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    height: 20rem;
  }
}

/*V--Recept taggar på splides--V*/

.vegantagGeo {
  background-color: #0c7d25;
  border-radius: 10px;
  position: relative;
  inline-size: min-content;
  padding: 0px 5px 0px 5px;
  /* margin-top: -150px;  om man vill få in taggarna i bilden*/
}

.vegantagGeo p {
  color:white;
  font-size: 11px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.glutentagGeo {
  background-color: #babf1b;
  border-radius: 10px;
  position: relative;
  inline-size: min-content;
  padding: 0px 5px 0px 5px;
  margin-left: 5px;
}

.glutentagGeo p {
  color: white;
  font-size: 11px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.tagpositionGeo  {
  display: flex;
  position: absolute;
  padding: 5px;
  margin-left: 5px;
  margin-top: -5px;
}



