.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 60%;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .contact-container {
    width: 98%;
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
label {
  margin-right: 1rem;
  font-size: large;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #ab4545;
}
.form-input {
  height: 1.5rem;
  width: 20rem;
  border-radius: 10px;
}
.form-message {
  height: 10rem;
  border: 2px solid black;
  border-radius: 10px;
}
.form-button {
  height: 2rem;
  margin-top: 1.5rem;
  background-color: #ab4545;
  color: white;
  font-size: large;
  border-radius: 10px;
}
h2,
h3 {
  color: #ab4545;
}
h3 {
  margin-left: 1rem;
}
