body {
    height: 100%;
    margin: 0;
    
  }

  .bg {
    text-align: center;
    background-image: url("../assets/Err-bg-re.png") ;  
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .Error-page{
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    
}

.Ooops-container{
    /* -webkit-text-stroke: 0.01px #000000; */
    color: #F1D0C5;
    font-family: 'Pacifico', cursive;
    
}

.error-text{
    -webkit-text-stroke: 0.5px #000000;
    font-size: 2rem;
    color: gold
    
}



.btn {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #F1D0C5;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover,
.btn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.btn:active {
  background: var(--color);
  color: #fff;
}

@media screen and (max-width: 800px) {
    .bg{
        background-image: url("../assets/err-mob.png") ; 

    }

    .Error-page{
        position: fixed;
        width: 300px;
        height: 200px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -150px;
        
    }

    .Ooops-container{
        color: #000000;
        margin-top: -10rem;
        
    }

    .error-text{
        color: #080808;
        margin-bottom: 10rem;
        
    }

    .btn:hover,
    .btn:focus-visible{
     --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
    }

    .btn:active {
    background: var(--color);
    color: #fff;
    }
    
    
  }

  



