
#zero-state {
    margin: 2rem auto;
    text-align: center;
    color: #818181;
    margin-top: 8rem;
    margin-bottom: 10rem;
  }
  
  #zero-state a {
    color: inherit;
  }
  
  #zero-state a:hover {
    color: #121212;
  }
  
  #zero-state:before {
    display: block;
    margin-bottom: 0.5rem;
    /* content: url("/Global-Cuisine/Global_Cuisine_Project/src/assets/logo-no-background.png"); */
  }

  .LoadMoreContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .textLoadedRecipes{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

/*V--back to top button--V*/

/* @media screen and (max-width: 800px) {
  .top-btn {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    align-items: end;
  }

} */


  #top-btn {
  display: none; 
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 50; /* Make sure it does not overlap */
  border: 2px solid black; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #AB4545; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 4px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  width:100px;
  }

  #top-btn:hover {
    background-color: #913d3d;
    transform: translateY(-1px);
  }
  
  
