.team-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prepfood {
  width: 60%;
  height: 10rem;
  object-fit: contain;
  margin-top: 2rem;
}
.the-team {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 2rem;
}
.team-member {
  width: 12rem;
  height: 18rem;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.member-img {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  object-fit: contain;
  border-radius: 10px;
}
.member-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.member-name {
  color: #ab4545 !important;
}
