.filter-menu {
    background-color: #AB4545;
    height: 100vh;
    position: fixed;
    right: -100%;
    display: flex;
    flex-direction: column;
    transition: width, 0.5s;
}

.filter-menu.is-active {
    right: 0;
    top: 0;
    margin-top: 75px;
    font-size: 20px;
}

.filter-menu__close {

    margin: 10px;
    align-self: self-end;
    cursor: pointer;
    border-radius: 10px;
}

.filter-menu__close:hover {
    background-color: #F1D0C5;
}