.filter-menu {
    overflow-y: auto;
    max-height: calc(100%-50px);
    background-color: #AB4545;
    position: fixed;
    height: 100vh;
    right: -100%;
    display: flex;
    flex-direction: column;
    width: 200px;
    transition: width, 0.5s;
}
.filter-menu-close {
    transition: 0.2s;
    margin: 10px;
    background-color: #c46666;
    padding: 5px;
    border-radius: 10px;
    padding-right: 30px;
}
.filter-menu-close:hover {
    background-color: white;
}

.filter-menu.is-active {
    right: 0;
    top: 0;
    margin-top: 75px;
    font-size: 20px;
}

.clear-btn {
    transition: 0.1s;
    background-color: black;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 10px 20px 100px 20px;;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}

.clear-btn:hover {
    background-color: white;
    color: black;

}