.navbar_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #AB4545;
  color: white;
  width: 100%;
  overflow: hidden;

}


.navbar_header img {
  max-width: 20.5rem;
  max-height: 3rem;
}

.default{
    background-color:#F1D0C5;   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar_links {
  display: flex;
  align-self: flex-end;
}

.navbar_links ul {
  display: flex;
}

.navbar_links li {
  list-style: none;
}

.navbar_links li a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  padding: 2rem;
}

.navbar_links li:hover {
  background-color: #ad3535;
}

.toggle_button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
}

.toggle_button .bar {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .toggle_button {
    display: flex;
  }

  .navbar_links {
    display: none;
  }

  .navbar_header {
    flex-direction: column;
    align-items: flex-start;
  }
}

